<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
	<body>
		<script src="greeter.js"></script>
	</body>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="controller.js"></script>
	<body>

		<div ng-app="basicApp">
			{{"hola" + " Mundo"}}
			<div ng-controller="homeController">
				<input type="text" ng-model="uname" placeholder="Enter Username">
				<h1>{{uname}}</h1>
			<ol>
				<li ng-repeat="item in items">
					<p>{{item}}</p>
				</li>
			</ol>
			<input type="text" name="text" ng-model="newItem" placeholder="Itemmmm">
			<button ng-click="addItem()">BOTON</button>
			</div>
		</div> -->
	

			

	</body>
</html>
